    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/page-not-found.css">
</head>

<body>
  <%- include("includes/nav.ejs") %>
    <main>
        <h1>Page not found</h1>
    </main>
  <%- include("includes/end.ejs") %>
