<header>
    <nav>
        <ul>
          <li><a href="/" class="<%= path !== 'admin/add-product' ? 'active' : '' %>">Shop</a></li>
          <li><a href="/admin/add-product" class= "<%= path !== '/' ? 'active' : '' %>">Add product</a></li>
        </ul>
    </nav>
</header>
